<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.test.mybatis.repository.BoardMyBatisMapper">

    <insert id="insertBoard" parameterType="board">
        INSERT INTO board (title, content, user_code, create_date)
        VALUES(#{title}, #{content}, #{userCode}, NOW())
    </insert>


    <select id="selectBoard" resultType="board">
        SELECT
               b.board_no,
               b.content,
               b.title,
               b.create_date,
               b.user_code,
               u.user_id,
               u.user_name
        FROM board b INNER JOIN user u on b.user_code = u.user_code
    </select>

    <update id="updateBoard" parameterType="board">
        UPDATE board
        <set>
            <if test='title != null and title !=""'>
                title = #{title},
            </if>
            <if test='content != null and content !=""'>
                content = #{content},
            </if>
        </set>
        WHERE board_no = #{boardNo}
    </update>

    <delete id="deleteBoard" parameterType="board">
        DELETE FROM board WHERE board_no = #{boardNo}
    </delete>

</mapper>