<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.test.mybatis.repository.BoardMyBatisMapper">

    <insert id="insertBoard" parameterType="board">
        INSERT INTO board (title, content, user_code, create_date)
        VALUES(#{title}, #{content}, #{userCode}, NOW())
    </insert>

</mapper>